@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox:checked + label {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../src/img/done-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
